### Matrix and operation. Date: 2025-12-12

**Topics**:
> 1. Matrix definition
> 2. Matrix operation

**Materials**:
> 1. [Python Matrix](https://www.geeksforgeeks.org/python/python-matrix/)
> 2. [Matrix operation](https://www.geeksforgeeks.org/maths/matrix-operations/)

#### –í–∏–∑–Ω–∞—á–µ–Ω–Ω—è:
**–ú–∞—Ç—Ä–∏—Ü—è** ‚Äî —Ü–µ –ø—Ä—è–º–æ–∫—É—Ç–Ω–∞ —Ç–∞–±–ª–∏—Ü—è —á–∏—Å–µ–ª, –≤–ø–æ—Ä—è–¥–∫–æ–≤–∞–Ω–∞ —É m —Ä—è–¥–∫–∞—Ö —Ç–∞ n —Å—Ç–æ–≤–ø—Ü—è—Ö.

**–ü–æ–∑–Ω–∞—á–µ–Ω–Ω—è:**
        ùê¥ ‚àà ùëÖùëö√óùëõ, ùëéùëñùëó‚Äî–µ–ª–µ–º–µ–Ω—Ç —É —Ä—è–¥–∫—É ùëñ —Ç–∞ —Å—Ç–æ–≤–ø—Ü—ñ ùëó

![](https://i.sstatic.net/r2Sko.gif)

–ë—É–¥—å-—è–∫–∞ —Ç–∞–±–ª–∏—Ü—è –¥–∞–Ω–∏—Ö (users √ó features, items √ó ratings, –¥–∞—Ç–∞ √ó –∫–∞–Ω–∞–ª–∏) ‚Äî —Ü–µ –º–∞—Ç—Ä–∏—Ü—è.
	‚Äã

–†—è–¥–∫–∏ ‚Äî –∫–æ—Ä–∏—Å—Ç—É–≤–∞—á—ñ, —Å—Ç–æ–≤–ø—Ü—ñ ‚Äî –æ–∑–Ω–∞–∫–∏.

#### **C—Ç—Ä—É–∫—Ç—É—Ä–∞ –º–∞—Ç—Ä–∏—Ü—ñ**
–ú–∞—Ç—Ä–∏—Ü—è —Å–∫–ª–∞–¥–∞—î—Ç—å—Å—è –∑: \
    - **–µ–ª–µ–º–µ–Ω—Ç—ñ–≤** \
    - **—Ä—è–¥–∫—ñ–≤** \
    - **—Å—Ç–æ–≤–ø—Ü—ñ–≤** \
    - **—Ä–æ–∑–º—ñ—Ä–Ω–æ—Å—Ç—ñ (shape)**

–ü—Ä–∏–∫–ª–∞–¥:
A = [[1, 2, 3],
     [4, 5, 6]]

#### **–í–ª–∞—Å—Ç–∏–≤–æ—Å—Ç—ñ**
–†–æ–∑–º—ñ—Ä (shape)

–ú–∞—Ç—Ä–∏—Ü—è –º–∞—î —Ä–æ–∑–º—ñ—Ä m √ó n, –¥–µ:
- m ‚Äî —á–∏—Å–ª–æ —Ä—è–¥–∫—ñ–≤
- n ‚Äî —á–∏—Å–ª–æ —Å—Ç–æ–≤–ø—Ü—ñ–≤

#### –í–∏–¥–∏ –º–∞—Ç—Ä–∏—Ü—å 

##### –ù—É–ª—å–æ–≤–∞ –º–∞—Ç—Ä–∏—Ü—è
**–í–∏–∑–Ω–∞—á–µ–Ω–Ω—è:** –ú–∞—Ç—Ä–∏—Ü—è, —É—Å—ñ –µ–ª–µ–º–µ–Ω—Ç–∏ —è–∫–æ—ó –¥–æ—Ä—ñ–≤–Ω—é—é—Ç—å –Ω—É–ª—é.

![](https://images.deepai.org/glossary-terms/b289323026484ce4829196086d3cd639/zero_matrix.png)

**–ü—Ä–∏–∫–ª–∞–¥–∏ –≤–∏–∫–æ—Ä–∏—Å—Ç–∞–Ω–Ω—è:**
> –ü–æ—á–∞—Ç–∫–æ–≤—ñ –ø–∞—Ä–∞–º–µ—Ç—Ä–∏ –º–æ–¥–µ–ª—ñ = 0 (–Ω–∞–ø—Ä–∏–∫–ª–∞–¥, —ñ–Ω—ñ—Ü—ñ–∞–ª—ñ–∑–∞—Ü—ñ—è –≥—Ä–∞–¥—ñ—î–Ω—Ç—ñ–≤).
> –†–µ–∑—É–ª—å—Ç–∞—Ç –≤—ñ–¥–Ω—ñ–º–∞–Ω–Ω—è –æ–¥–Ω–∞–∫–æ–≤–∏—Ö –≤–µ–∫—Ç–æ—Ä—ñ–≤ —É –∫–ª–∞—Å—Ç–µ—Ä–∏–∑–∞—Ü—ñ—ó: ùë•‚àíùë•=0, x‚àíx=0

**–í–ª–∞—Å—Ç–∏–≤–æ—Å—Ç—ñ:**
> ùê¥+0=ùê¥, A+0=A \
> 0‚ãÖùê¥=0 \
> –∞–¥–∏—Ç–∏–≤–Ω–∏–π –Ω–µ–π—Ç—Ä–∞–ª—å–Ω–∏–π –µ–ª–µ–º–µ–Ω—Ç \
> –Ω–µ –∑–º—ñ–Ω—é—î —Å—Ç—Ä—É–∫—Ç—É—Ä—É —Ä–æ–∑–º—ñ—Ä–Ω–æ—Å—Ç—ñ –º–∞—Ç—Ä–∏—Ü—å

---
#### –û–¥–∏–Ω–∏—á–Ω–∞ –º–∞—Ç—Ä–∏—Ü—è
**–í–∏–∑–Ω–∞—á–µ–Ω–Ω—è:** –ö–≤–∞–¥—Ä–∞—Ç–Ω–∞ –º–∞—Ç—Ä–∏—Ü—è –∑ –æ–¥–∏–Ω–∏—Ü—è–º–∏ –Ω–∞ –¥—ñ–∞–≥–æ–Ω–∞–ª—ñ.

![](https://purecalculators.com/img/MatrixTranspose13.png)

**–í–ª–∞—Å—Ç–∏–≤–æ—Å—Ç—ñ:**
> ùêºùê¥=ùê¥, IA=A \
> ùêºùë•=ùë• Ix=x

--- 
#### –î—ñ–∞–≥–æ–Ω–∞–ª—å–Ω–∞ –º–∞—Ç—Ä–∏—Ü—è

**–í–∏–∑–Ω–∞—á–µ–Ω–Ω—è:** –ú–∞—Ç—Ä–∏—Ü—è, –¥–µ –≤—Å—ñ –ø–æ–∑–∞–¥—ñ–∞–≥–æ–Ω–∞–ª—å–Ω—ñ –µ–ª–µ–º–µ–Ω—Ç–∏ = 0.

![](https://hadrienj.github.io/assets/images/2.6/diagonal-and-symmetric-matrices.png)

**–ü—Ä–∏–∫–ª–∞–¥–∏ –≤–∏–∫–æ—Ä–∏—Å—Ç–∞–Ω–Ω—è:**
> —É –∞–ª–≥–æ—Ä–∏—Ç–º–∞—Ö –ú–õ \
> –Ω–æ—Ä–º–∞–ª—ñ–∑–∞—Ü—ñ—ó –æ–∑–Ω–∞–∫

**–í–ª–∞—Å—Ç–∏–≤–æ—Å—Ç—ñ:**
> –ø—ñ–¥—Å–∏–ª—é—î –∞–±–æ –ø–æ—Å–ª–∞–±–ª—é—î –∫–æ–∂–Ω—É –≤—ñ—Å—å –æ–∫—Ä–µ–º–æ \
> –º–∞—Ç–µ–º–∞—Ç–∏—á–Ω—ñ –ø–µ—Ä–µ—Ç–≤–æ—Ä–µ–Ω–Ω—è 

---
#### –í–µ—Ä—Ö–Ω—è —Ç–∞ –Ω–∏–∂–Ω—è —Ç—Ä–∏–∫—É—Ç–Ω—ñ –º–∞—Ç—Ä–∏—Ü—ñ

![–í–µ—Ä—Ö–Ω—è —Ç—Ä–∏–∫—É—Ç–Ω–∞]()


![–ù–∏–∂–Ω—è —Ç—Ä–∏–∫—É—Ç–Ω–∞](https://lh6.googleusercontent.com/proxy/2RY9CDNrRLxtMAUk7TciOg3VdvDmNI_Bx0cIqOMHjyy2uMVAlqo_yyIcjmasDCQrmKE_)

**–ü—Ä–∏–∫–ª–∞–¥–∏:**
> –≤–∏–∫–æ—Ä–∏—Å—Ç–æ–≤—É—î—Ç—å—Å—è —É —Ä–æ–∑–≤‚Äô—è–∑–∞–Ω–Ω—ñ —Å–∏—Å—Ç–µ–º —Ä—ñ–≤–Ω—è–Ω—å –ø—Ä–∏ —Ä–µ–≥—Ä–µ—Å—ñ—ó. \
> —á–∏—Å–µ–ª—å–Ω—ñ –º–µ—Ç–æ–¥–∏ –æ–ø—Ç–∏–º—ñ–∑–∞—Ü—ñ—ó, –¥–µ –∫–æ–∂–µ–Ω –∫—Ä–æ–∫ –≤–∫–ª—é—á–∞—î –≤–∏—Ä—ñ—à–µ–Ω–Ω—è —Ç—Ä–∏–∫—É—Ç–Ω–æ—ó —Å–∏—Å—Ç–µ–º–∏.

**–í–ª–∞—Å—Ç–∏–≤–æ—Å—Ç—ñ:**
> —ñ–Ω–≤–µ—Ä—Ç—É—é—Ç—å—Å—è –∑–Ω–∞—á–Ω–æ —à–≤–∏–¥—à–µ, –Ω—ñ–∂ –∑–∞–≥–∞–ª—å–Ω—ñ –º–∞—Ç—Ä–∏—Ü—ñ
> –≤ –∞–ª–≥–æ—Ä–∏—Ç–º–∞—Ö —Ä–æ–±–∏—Ç—å —à–≤–∏–¥—à–µ –ø–µ—Ä–µ—Ç–≤–æ—Ä–µ–Ω–Ω—è O(n^3) -> O(n^2)

---
#### –°–∏–º–µ—Ç—Ä–∏—á–Ω–∞ –º–∞—Ç—Ä–∏—Ü—è

**–í–∏–∑–Ω–∞—á–µ–Ω–Ω—è:** ùê¥=ùê¥ùëá, A=AT


**–ü—Ä–∏–∫–ª–∞–¥–∏:**
> –ú–∞—Ç—Ä–∏—Ü—è –∫–æ—Ä–µ–ª—è—Ü—ñ–π \
> –ú–∞—Ç—Ä–∏—Ü—è –≤—ñ–¥—Å—Ç–∞–Ω–µ–π —É –∫–ª–∞—Å—Ç–µ—Ä–∏–∑–∞—Ü—ñ—ó 

---
#### Sparse –º–∞—Ç—Ä–∏—Ü—è

**–í–∏–∑–Ω–∞—á–µ–Ω–Ω—è:** –ú–∞—Ç—Ä–∏—Ü—è, —É —è–∫—ñ–π –±—ñ–ª—å—à—ñ—Å—Ç—å –µ–ª–µ–º–µ–Ω—Ç—ñ–≤ = 0.

![](https://media.geeksforgeeks.org/wp-content/uploads/Sparse-Matrix-Array-Representation1.png)

**–ü—Ä–∏–∫–ª–∞–¥–∏:**
> —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü—ñ–π–Ω—ñ —Å–∏—Å—Ç–µ–º–∏ (user x item) \
> –º–∞—Ç—Ä–∏—Ü—ñ —Å—É–º—ñ–∂–Ω–æ—Å—Ç—ñ –≥—Ä–∞—Ñ—ñ–≤

In [1]:
arr = [
    [1, 2, 3]
    , [4, [5, 11, 12], 6]
    , [7, 8, 9]
]
print(arr[1][1][1])

11

In [25]:
arr = [i for i in range(1, 15)]

dp = [0] * len(arr)

dp[0] = arr[0]

for i in range(1, len(arr)):
    dp[i] = dp[i - 1] + arr[i]

print(arr) 
print(dp)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
[1, 3, 6, 10, 15, 21, 28, 36, 45, 55, 66, 78, 91, 105]

In [27]:
# Zeroes matrix
import numpy as np

A = np.zeros((3, 4))
print(A)

[[0. 0. 0. 0.]
 [0. 0. 0. 0.]
 [0. 0. 0. 0.]]

In [46]:
# Ones matrix
I = np.eye(4)
print(I)

[[1. 0. 0. 0.]
 [0. 1. 0. 0.]
 [0. 0. 1. 0.]
 [0. 0. 0. 1.]]

In [29]:
# Diag matrix
D = np.diag([3, 7, -2])
print(D)

[[ 3  0  0]
 [ 0  7  0]
 [ 0  0 -2]]

In [30]:
# Upper triangle matrix
U = np.triu([[2, 5, 3],
             [4, 4, 1],
             [8, 2, 7]])
print(U)

[[2 5 3]
 [0 4 1]
 [0 0 7]]

In [32]:
# Symmetric matrix
A = np.array([[4, 2, 7],
              [2, 5, 1],
              [7, 1, 3]])

print(A)
print(np.allclose(A, A.T))

[[4 2 7]
 [2 5 1]
 [7 1 3]]
True

In [31]:
from scipy.sparse import csr_matrix

R = csr_matrix([[5, 3, 0, 0],
                [4, 0, 0, 2],
                [1, 1, 0, 5],
                [0, 0, 5, 4]])

print(R)
print("–§–æ—Ä–º–∞—Ç:", type(R))

<Compressed Sparse Row sparse matrix of dtype 'int64'
	with 9 stored elements and shape (4, 4)>
  Coords	Values
  (0, 0)	5
  (0, 1)	3
  (1, 0)	4
  (1, 3)	2
  (2, 0)	1
  (2, 1)	1
  (2, 3)	5
  (3, 2)	5
  (3, 3)	4
–§–æ—Ä–º–∞—Ç: <class 'scipy.sparse._csr.csr_matrix'>


####  –¢—Ä–∞–Ω—Å–ø–æ–Ω—É–≤–∞–Ω–Ω—è –º–∞—Ç—Ä–∏—Ü—ñ

**–í–∏–∑–Ω–∞—á–µ–Ω–Ω—è:** –¢—Ä–∞–Ω—Å–ø–æ–Ω—É–≤–∞–Ω–Ω—è ‚Äî —Ü–µ –æ–ø–µ—Ä–∞—Ü—ñ—è, —â–æ –º—ñ–Ω—è—î —Ä—è–¥–∫–∏ —Ç–∞ —Å—Ç–æ–≤–ø—Ü—ñ –º—ñ—Å—Ü—è–º–∏.
[A^T_{ij} = A_{ji}]

* –†—è–¥–∫–∏ —Å—Ç–∞—é—Ç—å —Å—Ç–æ–≤–ø—Ü—è–º–∏.
* –í–µ–∫—Ç–æ—Ä-—Ä—è–¥–æ–∫ -> –≤–µ–∫—Ç–æ—Ä-—Å—Ç–æ–≤–ø–µ—Ü—å, —ñ –Ω–∞–≤–ø–∞–∫–∏.



### **–î–µ –∑–∞—Å—Ç–æ—Å–æ–≤—É—î—Ç—å—Å—è**

* —É —Ñ–æ—Ä–º—É–ª—ñ —Ä–µ–≥—Ä–µ—Å—ñ—ó 
* —É –º–Ω–æ–∂–µ–Ω–Ω—ñ –º–∞—Ç—Ä–∏—Ü—å, –¥–µ —Ä–æ–∑–º—ñ—Ä–Ω–æ—Å—Ç—ñ –º–∞—é—Ç—å –≤—ñ–¥–ø–æ–≤—ñ–¥–∞—Ç–∏
* —Ä–æ–±–æ—Ç–∏ –∑ –æ–∑–Ω–∞–∫–∞–º–∏ —É ML –∑—Ä—É—á–Ω–æ –ø–µ—Ä–µ—Ö–æ–¥–∏—Ç–∏ –º—ñ–∂ `samples √ó features` —Ç–∞ `features √ó samples`

---

####  –î–æ–¥–∞–≤–∞–Ω–Ω—è –º–∞—Ç—Ä–∏—Ü—å

**–í–∏–∑–Ω–∞—á–µ–Ω–Ω—è:** –î–≤—ñ –º–∞—Ç—Ä–∏—Ü—ñ –º–æ–∂–Ω–∞ –¥–æ–¥–∞–≤–∞—Ç–∏, —è–∫—â–æ –≤–æ–Ω–∏ **–æ–¥–Ω–∞–∫–æ–≤–æ–≥–æ —Ä–æ–∑–º—ñ—Ä—É**.
  [(A + B)*{ij} = A*{ij} + B_{ij}]

–ï–ª–µ–º–µ–Ω—Ç –¥–æ–¥–∞—î—Ç—å—Å—è –¥–æ –≤—ñ–¥–ø–æ–≤—ñ–¥–Ω–æ–≥–æ –µ–ª–µ–º–µ–Ω—Ç–∞.

**–ü—Ä–∏–∫–ª–∞–¥–∏:**

* –∞–≥—Ä–µ–≥–∞—Ü—ñ—ó —É –Ω–µ–π—Ä–æ–º–µ—Ä–µ–∂–∞—Ö
* –æ–Ω–æ–≤–ª–µ–Ω–Ω—è –≤–∞–≥ —É –æ–ø—Ç–∏–º—ñ–∑–∞—Ç–æ—Ä–∞—Ö (Adam, SGD)
* –æ–ø–µ—Ä–∞—Ü—ñ—ó –º—ñ–∂ —Ä—ñ–∑–Ω–∏–º–∏ —Ç–∞–±–ª–∏—Ü—è–º–∏ –æ–∑–Ω–∞–∫

---

#### –ú–Ω–æ–∂–µ–Ω–Ω—è –º–∞—Ç—Ä–∏—Ü—å (–º–∞—Ç—Ä–∏—á–Ω–∏–π –¥–æ–±—É—Ç–æ–∫)

**–í–∏–∑–Ω–∞—á–µ–Ω–Ω—è:**  –ú–Ω–æ–∂–∏—Ç–∏ –º–æ–∂–Ω–∞ —Ç–æ–¥—ñ, –∫–æ–ª–∏ –∫—ñ–ª—å–∫—ñ—Å—Ç—å —Å—Ç–æ–≤–ø—Ü—ñ–≤ –ø–µ—Ä—à–æ—ó –º–∞—Ç—Ä–∏—Ü—ñ = –∫—ñ–ª—å–∫–æ—Å—Ç—ñ —Ä—è–¥–∫—ñ–≤ –¥—Ä—É–≥–æ—ó.

–ë–µ—Ä–µ–º–æ —Ä—è–¥–æ–∫ –∑ A —ñ —Å—Ç–æ–≤–ø–µ—Ü—å –∑ B, –º–Ω–æ–∂–∏–º–æ –ø–æ–µ–ª–µ–º–µ–Ω—Ç–Ω–æ —ñ —Å–∫–ª–∞–¥–∞—î–º–æ.

–†–æ–∑–º—ñ—Ä = (–∫—ñ–ª—å–∫—ñ—Å—Ç—å —Ä—è–¥–∫—ñ–≤ –ø–µ—Ä—à–æ—ó) √ó (–∫—ñ–ª—å–∫—ñ—Å—Ç—å —Å—Ç–æ–≤–ø—Ü—ñ–≤ –¥—Ä—É–≥–æ—ó). –ü—Ä–∏–∫–ª–∞–¥: (2√ó3) ¬∑ (3√ó2) = (2√ó2). A.shape[1] == B.shape[0]

* –î–æ–±—É—Ç–æ–∫ —Ä—è–¥–∫–∞ A –Ω–∞ —Å—Ç–æ–≤–ø–µ—Ü—å B -> —Å–∫–∞–ª—è—Ä.
* –ú–∞—Ç—Ä–∏—á–Ω–µ –º–Ω–æ–∂–µ–Ω–Ω—è = –ª—ñ–Ω—ñ–π–Ω–∞ –∫–æ–º–±—ñ–Ω–∞—Ü—ñ—è —Å—Ç–æ–≤–ø—Ü—ñ–≤.
* –ó–∞–≤–∂–¥–∏ –ø–µ—Ä–µ–≤—ñ—Ä—è–π —Ä–æ–∑–º—ñ—Ä–Ω–æ—Å—Ç—ñ: `A.shape[1] == B.shape[0]`.
* –í–∏–∫–æ—Ä–∏—Å—Ç–æ–≤—É–π –æ–ø–µ—Ä–∞—Ç–æ—Ä `@`, –∞ –Ω–µ `dot`, –≤—ñ–Ω –±—ñ–ª—å—à —á–∏—Ç–∞–±–µ–ª—å–Ω–∏–π.

**–ü—Ä–∏–∫–ª–∞–¥–∏ –≤–∏–∫–æ—Ä–∏—Å—Ç–∞–Ω–Ω—è:**
* –ø—Ä–æ–≥–Ω–æ–∑ —É –ª—ñ–Ω—ñ–π–Ω—ñ–π –º–æ–¥–µ–ª—ñ
* LLM / —Ç—Ä–∞–Ω—Å—Ñ–æ—Ä–º–µ—Ä–∏


---

#### –ü–æ–µ–ª–µ–º–µ–Ω—Ç–Ω–µ –º–Ω–æ–∂–µ–Ω–Ω—è 

–í–∏–∫–æ–Ω—É—î—Ç—å—Å—è –ø–æ–µ–ª–µ–º–µ–Ω—Ç–Ω–æ.


**–ü—Ä–∏–∫–ª–∞–¥–∏:**

* —Ñ—ñ–ª—å—Ç—Ä–∞—Ü—ñ—è –æ–∑–Ω–∞–∫:`X * mask`
* –Ω–æ—Ä–º–∞–ª—ñ–∑–∞—Ü—ñ—è
* –Ω–µ–π—Ä–æ–Ω–Ω—ñ –º–µ—Ä–µ–∂—ñ (attention masking)
* —à–≤–∏–¥–∫–∏–π —Å–ø–æ—Å—ñ–± –ø–æ–º–Ω–æ–∂–∏—Ç–∏ –º–∞—Ç—Ä–∏—Ü—é –Ω–∞ –≤–∞–≥–∏ —Ç–∞–∫–æ–≥–æ –∂ —Ä–æ–∑–º—ñ—Ä—É.

---

####  –ú–Ω–æ–∂–µ–Ω–Ω—è –º–∞—Ç—Ä–∏—Ü—ñ –Ω–∞ —Å–∫–∞–ª—è—Ä


**–ü—Ä–∏–∫–ª–∞–¥–∏:**
* –º–∞—Å—à—Ç–∞–±—É–≤–∞–Ω–Ω—è –æ–∑–Ω–∞–∫
* –∑–º—ñ–Ω–∞ –≤–∞–≥ —É —Ä–µ–≥—É–ª—è—Ä–∏–∑–∞—Ü—ñ—ó
* –º–æ–¥–∏—Ñ—ñ–∫–∞—Ü—ñ—è –≤–µ–∫—Ç–æ—Ä—ñ–≤ —É gradient descent

---

#### –û–±—á–∏—Å–ª–µ–Ω–Ω—è —Ä–∞–Ω–≥—É –º–∞—Ç—Ä–∏—Ü—ñ

–†–∞–Ω–≥ = –∫—ñ–ª—å–∫—ñ—Å—Ç—å **–ª—ñ–Ω—ñ–π–Ω–æ –Ω–µ–∑–∞–ª–µ–∂–Ω–∏—Ö** —Ä—è–¥–∫—ñ–≤/—Å—Ç–æ–≤–ø—Ü—ñ–≤.

* –Ø–∫—â–æ `rank < n_features` ‚Üí –º—É–ª—å—Ç–∏–∫–æ–ª—ñ–Ω–µ–∞—Ä–Ω—ñ—Å—Ç—å.
* –î–ª—è —Ä–µ–≥—Ä–µ—Å—ñ—ó –∑–∞–≤–∂–¥–∏ –ø–µ—Ä–µ–≤—ñ—Ä—è–π —Ä–∞–Ω–≥ –º–∞—Ç—Ä–∏—Ü—ñ –æ–∑–Ω–∞–∫ X.

**–ü—Ä–∏–∫–ª–∞–¥–∏:**
* –¥–µ—Ç–µ–∫—Ç –ø—Ä–æ–±–ª–µ–º–∏ –º—É–ª—å—Ç–∏–∫–æ–ª—ñ–Ω–µ–∞—Ä–Ω–æ—Å—Ç—ñ
* –≤–∏–∑–Ω–∞—á–µ–Ω–Ω—è —Ä–æ–∑–º—ñ—Ä–Ω–æ—Å—Ç—ñ –ø—Ä–æ—Å—Ç–æ—Ä—É
* —É PCA —Ä–∞–Ω–≥ –≤–∏–∑–Ω–∞—á–∞—î –º–∞–∫—Å–∏–º—É–º –∫–æ–º–ø–æ–Ω–µ–Ω—Ç

---

#### –û–±–µ—Ä–Ω–µ–Ω–∞ –º–∞—Ç—Ä–∏—Ü—è

**–í–∏–∑–Ω–∞—á–µ–Ω–Ω—è:** [A^{-1}A = I]. –û–±–µ—Ä–Ω–µ–Ω–∞ –º–∞—Ç—Ä–∏—Ü—è —ñ—Å–Ω—É—î —Ç—ñ–ª—å–∫–∏ —è–∫—â–æ `det(A) ‚â† 0`.


---

#### Determinant
**–í–∏–∑–Ω–∞—á–µ–Ω–Ω—è:** `det(A)` = –º–∞—Å—à—Ç–∞–±—É–≤–∞–Ω–Ω—è –æ–±'—î–º—É –ø—Ä–∏ –ª—ñ–Ω—ñ–π–Ω–æ–º—É –ø–µ—Ä–µ—Ç–≤–æ—Ä–µ–Ω–Ω—ñ.

> det = 0 -> –æ–∑–Ω–∞–∫–∏ –¥—É–±–ª—é—é—Ç—å –æ–¥–Ω–∞ –æ–¥–Ω—É \
> det ‚âà 0 -> –º–æ–¥–µ–ª—å –Ω–µ—Å—Ç–∞–±—ñ–ª—å–Ω–∞ \
> det > 0 -> –º–æ–∂–Ω–∞ –æ–±—á–∏—Å–ª—é–≤–∞—Ç–∏ –∫–æ–µ—Ñ—ñ—Ü—ñ—î–Ω—Ç–∏

* –º–∞–ª–µ–Ω—å–∫–∏–π –∞–±–æ –º–∞–π–∂–µ –Ω—É–ª—å–æ–≤–∏–π det ‚Üí –º–∞—Ç—Ä–∏—Ü—è ¬´–ø–æ–≥–∞–Ω–∞¬ª,  –≤–∏—Ä–æ–¥–∂–µ–Ω–∞.


---

####  –ù–æ—Ä–º–∞ –º–∞—Ç—Ä–∏—Ü—ñ —Ç–∞ –≤–µ–∫—Ç–æ—Ä–∞

**L2-norma:**
![](https://i.sstatic.net/XlCRF.png)

**–§—Ä–æ–±–µ–Ω—ñ—É—Å–æ–≤–∞ –Ω–æ—Ä–º–∞:** –§—Ä–æ–±–µ–Ω—ñ—É—Å–æ–≤–∞ –Ω–æ—Ä–º–∞ = —Å—É–º–∞ –∫–≤–∞–¥—Ä–∞—Ç—ñ–≤
![](https://ic.pics.livejournal.com/yu_xuan/12681078/216868/216868_600.png)

**–ü—Ä–∏–∫–ª–∞–¥–∏:**

* —Ä–µ–≥—É–ª—è—Ä–∏–∑–∞—Ü—ñ—ó (L1/L2)
* –æ—Ü—ñ–Ω–∫–∏ –≤–µ–ª–∏—á–∏–Ω–∏ –≤–∞–≥ –º–æ–¥–µ–ª—ñ
* –æ—Ü—ñ–Ω–∫–∏ —Å—Ö–æ–∂–æ—Å—Ç—ñ embedding-–≤–µ–∫—Ç–æ—Ä—ñ–≤


---

* `@` ‚Üí –º–∞—Ç—Ä–∏—á–Ω–∏–π –¥–æ–±—É—Ç–æ–∫
* `*` ‚Üí –ø–æ–µ–ª–µ–º–µ–Ω—Ç–Ω–µ –º–Ω–æ–∂–µ–Ω–Ω—è
* `A.T` ‚Üí —Ç—Ä–∞–Ω—Å–ø–æ–Ω—É–≤–∞–Ω–Ω—è
* `matrix_rank()` ‚Üí –ø–µ—Ä–µ–≤—ñ—Ä–∫–∞ –º—É–ª—å—Ç–∏–∫–æ–ª—ñ–Ω–µ–∞—Ä–Ω–æ—Å—Ç—ñ
* `norm()` ‚Üí –æ—Ü—ñ–Ω–∫–∞ –≤–µ–ª–∏—á–∏–Ω–∏ / –¥–æ–≤–∂–∏–Ω–∏

---

In [33]:
# —Ç—Ä–∞–Ω—Å–ø–æ–Ω—É–≤–∞–Ω–Ω—è
import numpy as np

A = np.array([[1, 2, 3],
              [4, 5, 6]])

print(A)
A_T = A.T
print(A_T)

[[1 2 3]
 [4 5 6]]
[[1 4]
 [2 5]
 [3 6]]

In [4]:
import numpy as np
a = [
    [1, 2]
    , [3, 4]
]

b = [
    [10, 20]
    , [30, 40]
]
# price = 0.5, rewies = 0.4,  -> 1,

In [5]:
import numpy as np
# –¥–æ–¥–∞–≤–∞–Ω–Ω—è 
A = np.array([[1, 2],
              [3, 4]])

B = np.array([[10, 20],
              [30, 40]])

C = A + B
print(C)

[[11 22]
 [33 44]]

In [6]:
import numpy as np
# –º–Ω–æ–∂–µ–Ω–Ω—è
A = np.array([[1, 2],
              [3, 4]])
B = np.array([[5, 6],
              [7, 8]])

C = A @ B   # –∞–±–æ np.dot(A, B)
print(C)
# [
#   5*0.3 + 10*0.7 = 8.5
#   2*0.3 +  4*0.7 = 3.4
# ]

[[19 22]
 [43 50]]

In [ ]:
X = [
  [5, 10],
  [2,  4]
]


W = [
  [0.3],
  [0.7]
]


# X @ W =
# [
#   5*0.3 + 10*0.7 = 8.5
#   2*0.3 +  4*0.7 = 3.4
# ]

In [42]:
A = np.array([[1, 2],
              [3, 4]])

B = np.array([[10, 20],
              [30, 40]])

C = A * B
print(C)

[[ 10  40]
 [ 90 160]]

In [39]:
A = np.array([[1, 2],
              [3, 4]])

C = 5 * A
print(C)

[[ 5 10]
 [15 20]]

In [40]:
# rank 
A = np.array([[1, 2, 3],
              [2, 4, 6],
              [3, 6, 9]])

rank = np.linalg.matrix_rank(A)
print("–†–∞–Ω–≥:", rank)

–†–∞–Ω–≥: 1

In [7]:
A = np.array([[4, 2],
              [3, 1]])

A_inv = np.linalg.inv(A)
print(A_inv)

[[-0.5  1. ]
 [ 1.5 -2. ]]

In [8]:
# det
A = np.array([[4, 2],
              [3, 1]])

det = np.linalg.det(A)
print(det)

-2.0

In [9]:
x = np.array([3, 4])
print(np.linalg.norm(x))

5.0

In [45]:
A = np.array([[1, 2],
              [3, 4]])

print(np.linalg.norm(A, 'fro'))

5.477225575051661

In [7]:
# !!!! Need install seaborn, numpy, panda !!!!
import seaborn as sns
import numpy as np
import pandas as pd

df = sns.load_dataset("titanic").dropna(subset=["age", "fare", "pclass", "survived"])
df = df[["age", "fare", "pclass", "survived"]]
df.head()

    age     fare  pclass  survived
0  22.0   7.2500       3         0
1  38.0  71.2833       1         1
2  26.0   7.9250       3         1
3  35.0  53.1000       1         1
4  35.0   8.0500       3         0

In [34]:
df_test = sns.load_dataset("titanic")

In [36]:
df_test.shape

(891, 15)

In [35]:
df_test.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [8]:
X = df[["age", "fare", "pclass"]].values  
y = df["survived"].values

In [ ]:
# –∫–æ—Ä—Ä–µ–ª—è—Ü—ñ—è
XtX = X.T @ X
XtX

array([[ 780231.4745   ,  788357.425814 ,   44223.84     ],
       [ 788357.425814 , 2856142.9817713,   37879.3612   ],
       [  44223.84     ,   37879.3612   ,    4073.       ]])

In [41]:
# —Ä–∞–Ω–≥ –º–∞—Ç—Ä–∏—Ü—ñ: –º—É–ª—å—Ç–∏–∫–æ–ª—ñ–Ω–µ–∞—Ä–Ω–æ—Å—Ç—ñ
np.linalg.matrix_rank(X) # –Ø–∫—â–æ —Ä–∞–Ω–≥ < –∫—ñ–ª—å–∫–æ—Å—Ç—ñ –æ–∑–Ω–∞–∫ -> –ø–æ—Ç–µ–Ω—Ü—ñ–π–Ω–æ –ø—Ä–æ–±–ª–µ–º–∞

np.int64(3)

In [ ]:
# –¥–µ—Ç–µ—Ä–º—ñ–Ω–∞–Ω—Ç–∞
det = np.linalg.det(XtX)
det
# –Ø–∫—â–æ det ‚âà 0 -> –æ–∑–Ω–∞–∫–∏ —Å–∏–ª—å–Ω–æ –∑–∞–ª–µ–∂–Ω—ñ -> –º–æ–¥–µ–ª—å –±—É–¥–µ –Ω–µ—Å—Ç–∞–±—ñ–ª—å–Ω–æ—é
# –Ø–∫—â–æ det –≤–µ–ª–∏–∫–µ -> –ø—Ä–æ–≥–Ω–æ–∑ —Å—Ç–∞–±—ñ–ª—å–Ω–∏–π

np.float64(2480946563493686.5)

In [37]:
df.head(1)

    age  fare  pclass  survived
0  22.0  7.25       3         0

In [12]:
beta = np.linalg.inv(XtX) @ X.T @ y
beta

array([0.00337173, 0.0034799 , 0.06434391])

In [14]:
X_norm = X / X.max(axis=0)
X_norm[:5]

array([[0.275     , 0.01415106, 1.        ],
       [0.475     , 0.13913574, 0.33333333],
       [0.325     , 0.01546857, 1.        ],
       [0.4375    , 0.1036443 , 0.33333333],
       [0.4375    , 0.01571255, 1.        ]])

In [13]:
X_scaled = 0.01 * X

In [17]:
X_scaled

array([[-0.53037664, -0.51897787,  0.91123237],
       [ 0.57183099,  0.69189675, -1.47636364],
       [-0.25482473, -0.50621356,  0.91123237],
       ...,
       [-0.73704057, -0.08877362, -1.47636364],
       [-0.25482473, -0.08877362, -1.47636364],
       [ 0.15850313, -0.50952283,  0.91123237]], shape=(714, 3))

In [15]:
# !!!! –ø–æ—Ç—Ä—ñ–±–Ω–æ –≤—Å—Ç–∞–Ω–æ–≤–∏—Ç–∏ Sklearn !!!!
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
model_raw = LinearRegression()
model_raw.fit(X, y)

y_pred_raw = model_raw.predict(X)

print(model_raw.coef_)
print("MSE :", mean_squared_error(y, y_pred_raw))

[-0.00796079  0.00058081 -0.24147906]
MSE : 0.19703791065590445

In [16]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

model_scaled = LinearRegression()
model_scaled.fit(X_scaled, y)

y_pred_scaled = model_scaled.predict(X_scaled)

print(model_scaled.coef_)
print("MSE:", mean_squared_error(y, y_pred_scaled))

[-0.1155614   0.0307143  -0.20227799]
MSE: 0.19703791065590445