## –¢–∏–ø–æ–≤–∏–π –ø–ª–∞–Ω EDA (Exploratory Data Analysis / —Ä–æ–∑–≤—ñ–¥—É–≤–∞–ª—å–Ω–æ–≥–æ –∞–Ω–∞–ª—ñ–∑—É –¥–∞–Ω–∏—Ö) üëá

# 1. –†–æ–∑—É–º—ñ–Ω–Ω—è –¥–∞–Ω–∏—Ö

–ü–µ—Ä–µ–≥–ª—è–¥ –ø–µ—Ä—à–∏—Ö/–æ—Å—Ç–∞–Ω–Ω—ñ—Ö —Ä—è–¥–∫—ñ–≤ (head, tail)

–†–æ–∑–º—ñ—Ä –¥–∞—Ç–∞—Å–µ—Ç—É (shape)

–¢–∏–ø–∏ –∑–º—ñ–Ω–Ω–∏—Ö (info)

–û–ø–∏—Å –∫–æ–ª–æ–Ω–æ–∫ (–±—ñ–∑–Ω–µ—Å-—Å–µ–Ω—Å)

# 2. –û—á–∏—â–µ–Ω–Ω—è –¥–∞–Ω–∏—Ö

–í–∏–¥–∞–ª–µ–Ω–Ω—è –¥—É–±–ª—ñ–∫–∞—Ç—ñ–≤

–û–±—Ä–æ–±–∫–∞ –ø—Ä–æ–ø—É—Å–∫—ñ–≤ (NaN)

–§—ñ–ª—å—Ç—Ä–∞—Ü—ñ—è –Ω–µ–∫–æ—Ä–µ–∫—Ç–Ω–∏—Ö –∑–Ω–∞—á–µ–Ω—å (–Ω—É–ª—å–æ–≤—ñ/–≤—ñ–¥‚Äô—î–º–Ω—ñ —Ü—ñ–Ω–∏, –∫—ñ–ª—å–∫–æ—Å—Ç—ñ)

–ü–µ—Ä–µ–≤—ñ—Ä–∫–∞ –∞–Ω–æ–º–∞–ª—ñ–π

# 3. –û–ø–∏—Å–æ–≤–∞ —Å—Ç–∞—Ç–∏—Å—Ç–∏–∫–∞

–°–µ—Ä–µ–¥–Ω—î, –º–µ–¥—ñ–∞–Ω–∞, –º—ñ–Ω/–º–∞–∫—Å

–†–æ–∑–ø–æ–¥—ñ–ª–∏ —á–∏—Å–ª–æ–≤–∏—Ö –∑–º—ñ–Ω–Ω–∏—Ö

–ß–∞—Å—Ç–æ—Ç–∏ –∫–∞—Ç–µ–≥–æ—Ä—ñ–∞–ª—å–Ω–∏—Ö –∑–º—ñ–Ω–Ω–∏—Ö

# 4. –ê–Ω–∞–ª—ñ–∑ –æ–∫—Ä–µ–º–∏—Ö –∑–º—ñ–Ω–Ω–∏—Ö (Univariate)

–ì—ñ—Å—Ç–æ–≥—Ä–∞–º–∏

Boxplot (–≤–∏–∫–∏–¥–∏)

–ß–∞—Å—Ç–æ—Ç–Ω—ñ —Ç–∞–±–ª–∏—Ü—ñ

# 5. –ê–Ω–∞–ª—ñ–∑ –≤–∑–∞—î–º–æ–∑–≤‚Äô—è–∑–∫—ñ–≤ (Bivariate / Multivariate)

–ö–æ—Ä–µ–ª—è—Ü—ñ—ó

Scatter plots

–ó–∞–ª–µ–∂–Ω—ñ—Å—Ç—å —Ü—ñ–ª—å–æ–≤–æ—ó –∑–º—ñ–Ω–Ω–æ—ó –≤—ñ–¥ —Ñ–∞–∫—Ç–æ—Ä—ñ–≤

–ì—Ä—É–ø—É–≤–∞–Ω–Ω—è (groupby)

# 6. –í–∏—è–≤–ª–µ–Ω–Ω—è –ø–∞—Ç–µ—Ä–Ω—ñ–≤

–°–µ–∑–æ–Ω–Ω—ñ—Å—Ç—å / —Ç—Ä–µ–Ω–¥–∏ (—è–∫—â–æ —î –¥–∞—Ç–∞)

–ü–æ–≤–µ–¥—ñ–Ω–∫–∞ –∫–ª—ñ—î–Ω—Ç—ñ–≤ / —Ç–æ–≤–∞—Ä—ñ–≤

–ù–∞–π–ø—Ä–∏–±—É—Ç–∫–æ–≤—ñ—à—ñ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó

# 7. –ü–µ—Ä–µ–≤—ñ—Ä–∫–∞ –≥—ñ–ø–æ—Ç–µ–∑

–ü–æ—Ä—ñ–≤–Ω—è–Ω–Ω—è –≥—Ä—É–ø

–õ–æ–≥—ñ—á–Ω—ñ –ø—Ä–∏–ø—É—â–µ–Ω–Ω—è –∑ –¥–∞–Ω–∏—Ö

–ü—ñ–¥–≥–æ—Ç–æ–≤–∫–∞ –¥–æ —Å—Ç–∞—Ç–∏—Å—Ç–∏—á–Ω–∏—Ö —Ç–µ—Å—Ç—ñ–≤ / ML

# 8. –í–∏—Å–Ω–æ–≤–∫–∏

–ö–ª—é—á–æ–≤—ñ —ñ–Ω—Å–∞–π—Ç–∏

–ü—Ä–æ–±–ª–µ–º–∏ –≤ –¥–∞–Ω–∏—Ö

–©–æ —Ä–æ–±–∏—Ç–∏ –¥–∞–ª—ñ (ML, —Å–µ–≥–º–µ–Ω—Ç–∞—Ü—ñ—è, –ø—Ä–æ–≥–Ω–æ–∑)

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime as dt
import seaborn as sns

In [2]:
# –ü—Ä–∏–∫–ª–∞–¥
df = pd.read_excel('Online Retail.xlsx') # !! —Ç—Ä–µ–±–∞ –∑–º—ñ–Ω–∏—Ç–∏ –Ω–∞ —Å–≤—ñ–π —à–ª—è—Ö !!

In [3]:
df.shape

(541909, 8)

In [4]:
df.columns

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')

In [5]:
df.head(2)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [6]:
# EDA
df.info()
# –±–∞—á–∏–º–æ —Ç–∏–ø–∏ –¥–∞–Ω–∏—Ö —Ç–∞ –∫—ñ–ª—å–∫—ñ—Å—Ç—å –Ω–µ-null –∑–Ω–∞—á–µ–Ω—å —É –∫–æ–∂–Ω–æ–º—É —Å—Ç–æ–≤–ø—Ü—ñ
# –í–∏—è–≤–ª—è—î–º–æ, —â–æ –¥–µ—è–∫—ñ —Å—Ç–æ–≤–ø—Ü—ñ –º–∞—é—Ç—å –ø—Ä–æ–ø—É—â–µ–Ω—ñ –∑–Ω–∞—á–µ–Ω–Ω—è (Descriptiom CustomerID),

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  datetime64[ns]
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 33.1+ MB

In [8]:
df.isnull().sum()
# –±–∞—á–∏–º–æ –∫—ñ–ª—å–∫—ñ—Å—Ç—å –ø—Ä–æ–ø—É—â–µ–Ω–∏—Ö –∑–Ω–∞—á–µ–Ω—å —É –∫–æ–∂–Ω–æ–º—É —Å—Ç–æ–≤–ø—Ü—ñ

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [7]:
df.describe()
# –æ—Ç—Ä–∏–º—É—î–º–æ –æ—Å–Ω–æ–≤–Ω—ñ —Å—Ç–∞—Ç–∏—Å—Ç–∏—á–Ω—ñ –ø–æ–∫–∞–∑–Ω–∏–∫–∏ –¥–ª—è —á–∏—Å–ª–æ–≤–∏—Ö —Å—Ç–æ–≤–ø—Ü—ñ–≤
# –±–∞—á–∏–º–æ, —â–æ –º—ñ–Ω—ñ–º–∞–ª—å–Ω—ñ –∑–Ω–∞—á–µ–Ω–Ω—è Quantity —Ç–∞ UnitPrice –≤—ñ–¥'—î–º–Ω—ñ

,Quantity,InvoiceDate,UnitPrice,CustomerID
count,541909.000000,541909,541909.000000,406829.000000
mean,9.552250,2011-07-04 13:34:57.156386048,4.611114,15287.690570
min,-80995.000000,2010-12-01 08:26:00,-11062.060000,12346.000000
25%,1.000000,2011-03-28 11:34:00,1.250000,13953.000000
50%,3.000000,2011-07-19 17:17:00,2.080000,15152.000000
75%,10.000000,2011-10-19 11:27:00,4.130000,16791.000000
max,80995.000000,2011-12-09 12:50:00,38970.000000,18287.000000
std,218.081158,NaN,96.759853,1713.600303

In [ ]:
df[df['Quantity'] < 0].shape
# –±–∞—á–∏–º–æ –∫—ñ–ª—å–∫—ñ—Å—Ç—å —Ä—è–¥–∫—ñ–≤ –∑ –≤—ñ–¥'—î–º–Ω–∏–º–∏ –∑–Ω–∞—á–µ–Ω–Ω—è–º–∏ Quantity

(10624, 8)

In [ ]:
df[df['UnitPrice'] < 0].shape
# –±–∞—á–∏–º–æ –∫—ñ–ª—å–∫—ñ—Å—Ç—å —Ä—è–¥–∫—ñ–≤ –∑ –≤—ñ–¥'—î–º–Ω–∏–º–∏ –∑–Ω–∞—á–µ–Ω–Ω—è–º–∏ UnitPrice

(2, 8)

In [ ]:
df['CustomerID'].nunique()
# —É–Ω—ñ–∫–∞–ª—å–Ω—ñ –∫–ª—ñ—î–Ω—Ç–∏

4372

In [ ]:
df['Country'].unique()
# —É–Ω—ñ–∫–∞–ª—å–Ω—ñ –∫—Ä–∞—ó–Ω–∏
# –ë–∞—á–∏–º–æ, —â–æ —î –∫—Ä–∞—ó–Ω–∞ "Unspecified", –º–æ–∂–ª–∏–≤–æ, –≤–∞—Ä—Ç–æ —Ä–æ–∑–≥–ª—è–Ω—É—Ç–∏, —è–∫ –∑ –Ω–µ—é –ø—Ä–∞—Ü—é–≤–∞—Ç–∏ –¥–∞–ª—ñ

array(['United Kingdom', 'France', 'Australia', 'Netherlands', 'Germany',
       'Norway', 'EIRE', 'Switzerland', 'Spain', 'Poland', 'Portugal',
       'Italy', 'Belgium', 'Lithuania', 'Japan', 'Iceland',
       'Channel Islands', 'Denmark', 'Cyprus', 'Sweden', 'Austria',
       'Israel', 'Finland', 'Bahrain', 'Greece', 'Hong Kong', 'Singapore',
       'Lebanon', 'United Arab Emirates', 'Saudi Arabia',
       'Czech Republic', 'Canada', 'Unspecified', 'Brazil', 'USA',
       'European Community', 'Malta', 'RSA'], dtype=object)

In [9]:
# –≤–∏—è–≤–ª–µ–Ω–Ω—è –¥—É–±–ª—ñ–∫–∞—Ç—ñ–≤
df.duplicated().sum()

np.int64(5268)

# –í–ò–°–ù–û–í–ö–ò

(541909, 8) —Ä–æ–∑–º—ñ—Ä–Ω—ñ—Å—Ç—å –¥–∞—Ç–µ—Å–µ—Ç—É, 8-–º—å –∫–æ–ª–æ–Ω–æ–∫

5 268 –¥—É–±–ª—ñ–∫–∞—Ç—ñ–≤

—Å—Ç–æ–≤–ø—Ü—ñ Descriptiom, CustomerID –º–∞—é—Ç—å –ø—Ä–æ–ø—É—â–µ–Ω—ñ –∑–Ω–∞—á–µ–Ω–Ω—è 

–∑–Ω–∞—á–µ–Ω–Ω—è 10 624 Quantity —Ç–∞ 2  UnitPrice –≤—ñ–¥'—î–º–Ω—ñ

–Ω–µ–æ–±—Ö—ñ–¥–Ω–æ –≤–∏–¥–∞–ª–∏—Ç–∏ –¥—É–±–ª—ñ–∫–∞—Ç–∏, —Ç–∞ –∑–¥—ñ–π—Å–Ω–∏—Ç–∏ —Ñ—ñ–ª—å—Ç—Ä–æ–≤–∫—É –¥–∞–Ω–Ω–∏—Ö,  –∑–∞–ª–∏—à–∞—é—á–∏ –ª–∏—à–µ —Ç—ñ —Ä—è–¥–∫–∏, –¥–µ Quantity —Ç–∞ UnitPrice –±—ñ–ª—å—à—ñ –∑–∞ 0, –∞ CustomerID –Ω–µ —î –ø–æ—Ä–æ–∂–Ω—ñ–º (null)

In [10]:
# Data cleaning
df.drop_duplicates(inplace=True)
# –í–∏–¥–∞–ª—è—î –¥—É–±–ª—ñ–∫–∞—Ç–∏ —Ä—è–¥–∫—ñ–≤ —É DataFrame.
# inplace=True –æ–∑–Ω–∞—á–∞—î, —â–æ –∑–º—ñ–Ω–∏ –∑–∞—Å—Ç–æ—Å–æ–≤—É—é—Ç—å—Å—è –±–µ–∑–ø–æ—Å–µ—Ä–µ–¥–Ω—å–æ –¥–æ df, –±–µ–∑ —Å—Ç–≤–æ—Ä–µ–Ω–Ω—è –Ω–æ–≤–æ—ó –∫–æ–ø—ñ—ó

df = df[(df['Quantity'] > 0) & (df['UnitPrice'] > 0) & (df['CustomerID'].notnull())]
# –§—ñ–ª—å—Ç—Ä—É—î –¥–∞–Ω—ñ, –∑–∞–ª–∏—à–∞—é—á–∏ –ª–∏—à–µ —Ç—ñ —Ä—è–¥–∫–∏, –¥–µ Quantity —Ç–∞ UnitPrice –±—ñ–ª—å—à—ñ –∑–∞ 0, –∞ CustomerID –Ω–µ —î –ø–æ—Ä–æ–∂–Ω—ñ–º (null).

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 392692 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    392692 non-null  object
 1   StockCode    392692 non-null  object
 2   Description  392692 non-null  object
 3   Quantity     392692 non-null  int64
 4   InvoiceDate  392692 non-null  datetime64[ns]
 5   UnitPrice    392692 non-null  float64
 6   CustomerID   392692 non-null  float64
 7   Country      392692 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 27.0+ MB

In [13]:
df.duplicated().sum()

np.int64(0)