---
### Practise: Pandas

> Практика на кожен день: [LeetCode Pandas](https://leetcode.com/studyplan/30-days-of-pandas/)

In [ ]:
# def <name>(param1:<type>, param2, *args, **kwargs) -> int:

---
## Треба встановити Seaborn!!!! 

#### Встановлення: pip install seaborn or conda install seaborn

In [ ]:

# pip install seaborn or conda install seaborn

In [1]:
# імпорти
import pandas as pd
import seaborn as sns

In [7]:
# вигрузка данних
df = sns.load_dataset("diamonds")

In [ ]:
# df = pd.read_csv('your_path')

In [ ]:
# df.to_csv('diamonds.csv')

In [3]:
df.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [10]:
df.dtypes

carat       float64
cut        category
color      category
clarity    category
depth       float64
table       float64
price         int64
x           float64
y           float64
z           float64
dtype: object

---
# DO EDA: head, tail, sample, shape, info, describe, dtypes ,check null value, value_counts, unique, nunique

In [16]:
df.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [17]:
df.tail()

       carat        cut color clarity  depth  table  price     x     y     z
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

In [18]:
df.shape

(53940, 10)

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    53940 non-null  float64
 1   cut      53940 non-null  category
 2   color    53940 non-null  category
 3   clarity  53940 non-null  category
 4   depth    53940 non-null  float64
 5   table    53940 non-null  float64
 6   price    53940 non-null  int64
 7   x        53940 non-null  float64
 8   y        53940 non-null  float64
 9   z        53940 non-null  float64
dtypes: category(3), float64(6), int64(1)
memory usage: 3.0 MB

In [20]:
df.isnull().sum()

carat      0
cut        0
color      0
clarity    0
depth      0
table      0
price      0
x          0
y          0
z          0
dtype: int64

In [23]:
df.describe()

,carat,depth,table,price,x,y,z
count,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000
mean,0.797940,61.749405,57.457184,3932.799722,5.731157,5.734526,3.538734
std,0.474011,1.432621,2.234491,3989.439738,1.121761,1.142135,0.705699
min,0.200000,43.000000,43.000000,326.000000,0.000000,0.000000,0.000000
25%,0.400000,61.000000,56.000000,950.000000,4.710000,4.720000,2.910000
50%,0.700000,61.800000,57.000000,2401.000000,5.700000,5.710000,3.530000
75%,1.040000,62.500000,59.000000,5324.250000,6.540000,6.540000,4.040000
max,5.010000,79.000000,95.000000,18823.000000,10.740000,58.900000,31.800000

In [26]:
df['cut'].unique()

['Ideal', 'Premium', 'Good', 'Very Good', 'Fair']
Categories (5, object): ['Ideal', 'Premium', 'Very Good', 'Good', 'Fair']

In [27]:
df['cut'].value_counts()

cut
Ideal        21551
Premium      13791
Very Good    12082
Good          4906
Fair          1610
Name: count, dtype: int64

In [24]:
df.dtypes

carat       float64
cut        category
color      category
clarity    category
depth       float64
table       float64
price         int64
x           float64
y           float64
z           float64
dtype: object

---
**Завдання 1:** Оцінити середню вартість діаманта за категоріями чистоти (clarity) \
**Інструмент для вирішення:**  groupby та agg та agg function

In [14]:
df.groupby('clarity').agg(
    {
        'price': ['mean', 'median', 'count']
    }
)

/var/folders/jg/4z3wkn2j4qg_d9rhsgxmg9340000gn/T/ipykernel_54948/137273338.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby('clarity').agg(

               price
                mean  median  count
clarity
IF       2864.839106  1080.0   1790
VVS1     2523.114637  1093.0   3655
VVS2     3283.737071  1311.0   5066
VS1      3839.455391  2005.0   8171
VS2      3924.989395  2054.0  12258
SI1      3996.001148  2822.0  13065
SI2      5063.028606  4072.0   9194
I1       3924.168691  3344.0    741

In [33]:
df.groupby('clarity').agg(
       total_count = ('price', 'count'),
       avg_price = ('price', 'mean'),
       median_price = ('price', 'median')    
).sort_values('avg_price', ascending = False)

/var/folders/jg/4z3wkn2j4qg_d9rhsgxmg9340000gn/T/ipykernel_54948/3574702482.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby('clarity').agg(

         total_count    avg_price  median_price
clarity
SI2             9194  5063.028606        4072.0
SI1            13065  3996.001148        2822.0
VS2            12258  3924.989395        2054.0
I1               741  3924.168691        3344.0
VS1             8171  3839.455391        2005.0
VVS2            5066  3283.737071        1311.0
IF              1790  2864.839106        1080.0
VVS1            3655  2523.114637        1093.0

---
**Завдання 2:** Виявити дешеві діаманти \
**Інструменти:** loc, isin, bool mask 

Дешевий це: carat > 1.2, color = "D" або "E", price < 2000

In [53]:
df[(df['carat'] > 1.2) & (df['color'].isin(['D', 'E'])) & (df['price'] < 2000)]

Empty DataFrame
Columns: [carat, cut, color, clarity, depth, table, price, x, y, z]
Index: []

In [1]:
# .isin([])

---
**Завдання 3:** Знайди 10 найдорожчих діамантів у кожній категорії кольору.

In [55]:
df.groupby('color')["price"].max().reset_index().sort_values("price", ascending = False).head(10)

/var/folders/jg/4z3wkn2j4qg_d9rhsgxmg9340000gn/T/ipykernel_54948/3939866593.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby('color')["price"].max().reset_index().sort_values("price", ascending = False).head(10)

  color  price
5     I  18823
3     G  18818
4     H  18803
2     F  18791
1     E  18731
6     J  18710
0     D  18693

---
**Завдання 4:** Знайти середню ціну діамантів різних категорій

In [57]:
mean_price_cut = df.groupby("cut")["price"].mean().reset_index()
mean_price_color = df.groupby("color")["price"].mean().reset_index()
mean_price_clarity = df.groupby("clarity")["price"].mean().reset_index()


# Середня ціна за всіма трьома категоріями
mean_price_all = df.groupby(["cut", "color", "clarity"])["price"].mean().reset_index()
print(mean_price_all.head())

     cut color clarity        price
0  Ideal     D      IF  6567.178571
1  Ideal     D    VVS1  2705.777778
2  Ideal     D    VVS2  3619.014085
3  Ideal     D     VS1  2576.039886
4  Ideal     D     VS2  2111.927174

/var/folders/jg/4z3wkn2j4qg_d9rhsgxmg9340000gn/T/ipykernel_54948/1944821912.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  mean_price_cut = df.groupby("cut")["price"].mean().reset_index()
/var/folders/jg/4z3wkn2j4qg_d9rhsgxmg9340000gn/T/ipykernel_54948/1944821912.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  mean_price_color = df.groupby("color")["price"].mean().reset_index()
/var/folders/jg/4z3wkn2j4qg_d9rhsgxmg9340000gn/T/ipykernel_54948/1944821912.py:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  mean_price_clarity = df.groupby("clarity")["price"].mean().reset_index()
/var/folders/jg/4z3wkn2j4qg_d9rhsgxmg9340000gn/T/ipykernel_54948/1944821912.py:7: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  mean_price_all = df.groupby(["cut", "color", "clarity"])["price"].mean().reset_index()

---
**Завдання 5:** Порахуйте, на скільки % дорожчі діаманти кольору D порівняно з кольором G

In [ ]:
mean_price = df.groupby("color")["price"].mean()

/var/folders/jg/4z3wkn2j4qg_d9rhsgxmg9340000gn/T/ipykernel_54948/1484905270.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  mean_price = df.groupby("color")["price"].mean()

In [61]:
mean_price

color
D    3169.954096
E    3076.752475
F    3724.886397
G    3999.135671
H    4486.669196
I    5091.874954
J    5323.818020
Name: price, dtype: float64

In [ ]:
price_D = mean_price["D"]
price_G = mean_price["G"]

percent_diff = (price_D - price_G) / price_G * 100