---
### Practise: Pandas

> Практика на кожен день: [LeetCode Pandas](https://leetcode.com/studyplan/30-days-of-pandas/)

In [6]:
# імпорти
import pandas as pd
import seaborn as sns

In [19]:
# вигрузка данних
df = sns.load_dataset("diamonds")

In [8]:
# DO Eda: head, tail, sample, shape, info, describe, check null value, value_counts, unique, nunique

In [34]:
df.columns

Index(['carat', 'cut', 'color', 'clarity', 'depth', 'table', 'price', 'x', 'y',
       'z'],
      dtype='object')

---
**Завдання 1:** Оцінити середню вартість діаманта за категоріями чистоти (clarity) \
**Інструмент для вирішення:**  groupby та agg та agg function

In [49]:
df.groupby('clarity').agg({'price': ['mean']})

C:\Users\Oksan\AppData\Local\Temp\ipykernel_18864\2818025494.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby('clarity').agg({'price': ['mean']})

               price
                mean
clarity
IF       2864.839106
VVS1     2523.114637
VVS2     3283.737071
VS1      3839.455391
VS2      3924.989395
SI1      3996.001148
SI2      5063.028606
I1       3924.168691

---
**Завдання 2:** Виявити дешеві діаманти \
**Інструменти:** loc, isin, bool mask \

Дешевий це: carat > 1.2, color = "D" або "E", price < 2000

---
**Завдання 3:** Знайди 10 найдорожчих діамантів у кожній категорії кольору.

In [56]:
df.groupby('color')["price"].max().reset_index().sort_values("price", ascending = False).head(10)

C:\Users\Oksan\AppData\Local\Temp\ipykernel_18864\3939866593.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby('color')["price"].max().reset_index().sort_values("price", ascending = False).head(10)

  color  price
5     I  18823
3     G  18818
4     H  18803
2     F  18791
1     E  18731
6     J  18710
0     D  18693

---
**Завдання 4:** Знайти середню ціну діамантів різних категорій

In [61]:
mean_price_cut = df.groupby("cut")["price"].mean().reset_index()
mean_price_cut.head()

C:\Users\Oksan\AppData\Local\Temp\ipykernel_18864\2399893346.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  mean_price_cut = df.groupby("cut")["price"].mean().reset_index()

         cut        price
0      Ideal  3457.541970
1    Premium  4584.257704
2  Very Good  3981.759891
3       Good  3928.864452
4       Fair  4358.757764

---
**Завдання 5:** Порахуйте, на скільки % дорожчі діаманти кольору D порівняно з кольором G

In [80]:
mean_price = df.groupby("color")["price"].mean()
mean_price
price_D = mean_price["D"]
price_G = mean_price["G"]
print((price_D - price_G) / price_G * 100)

-20.734019635474468

C:\Users\Oksan\AppData\Local\Temp\ipykernel_18864\165782672.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  mean_price = df.groupby("color")["price"].mean()

In [10]:
# приклад корреляції
df.corr(numeric_only=True)["price"].sort_values(ascending=False)

price    1.000000
carat    0.921591
x        0.884435
y        0.865421
z        0.861249
table    0.127134
depth   -0.010647
Name: price, dtype: float64